.about-the-city__text {
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #333333;
  font-weight: normal;
  margin: 0;
}

.about-the-city__title {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #333333;
  font-weight: bold;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) and (max-width: 1279px) {
    width: 562px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
    font-size: 21px;
    line-height: 26px;
  }
}

.about-the-city {
  background-color: #ffffff;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) and (max-width: 1279px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 50px;
  }
}
