.dignities-extra-list--white {
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 330px;
    text-align: center;
    padding: 0;
  }
}

