.dignities__title--white {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    height: 45px;
    font-size: 21px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
  }
}

.dignities__item--blue {
  background-color: #81b3d2;
  display: flex;
  flex-wrap: wrap;
}

.dignities__item--gray--contayner {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    padding-top: 26px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 42px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 45px;
    padding-bottom: 68px;
  }
}

.dignities__text--white {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0;
  }
}

.dignities__title--black {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    width: 115px;
    margin: auto;
    margin-bottom: 35px;
  }
}

.dignities__text--black {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: #333333;
  margin-bottom: 0;
  margin-top: 0;
}

.dignities__item--gray {
  background-color: #eeeeee;
  text-align: center;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.dignities__item--section {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    padding-left: 69px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 0;
  }
}

.dignities__list {
  padding: 0;
  margin: 0;
}

.dignities__item--vector {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    background-image: url("/img/white-copy-2.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 37px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

.dignities__icon {
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.dignities__item--contayner--blue {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    width: 256px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.dignities__item--house {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    background-image: url("/img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 5% 20%;
    background-size: 39px 37px;
  }

  @media (min-width: @tablet-width) and (max-width: 1279px) {
    background-image: url("/img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75px 72px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 75px 72px;
    width: 100%;
    height: 335px;
  }
}

.dignities__item--gift {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    background-image: url("/img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 5% 25%;
    background-size: 32px 38px;
  }

  @media (min-width: @tablet-width) {
    background-image: url("/img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 64px 75px;
    width: 100%;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 63px 75px;
    width: 100%;
    height: 335px;
  }
}

.dignities__item--white {
  padding-top: 35px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 165px;
    padding-bottom: 67px;
    order: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 85px;
    padding-top: 160px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.dignities__item--burger {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    background-image: url("/img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 5% 25%;
    background-size: 40px 35px;
  }

  @media (min-width: @tablet-width) and (max-width: 1279px) {
    background-image: url("/img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 76px 68px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 76px 69px;
    width: 100%;
    height: 335px;
  }
}

.dignities__img {
  width: 320px;
  height: 260px;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.dignities__item--up {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.dignities__img--down {
  @media (min-width: @tablet-width) {
    order: 0;
  }
}
