.dignities__title--white {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    height: 45px;
  }
}

.dignities__item--blue {
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    width: 256px;
    height: 256px;
  }
}

.dignities__text--white {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    height: 120px;
  }
}

.dignities__title--black {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  margin: 0;
  // padding-top: 35px;
}

.dignities__text--black {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: #333333;
  margin-bottom: 0;
}

.dignities__item--gray {
  background-color: #eeeeee;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.dignities__item--section:nth-child(1) {
  padding-top: 35px;
}

.dignities__item--section:nth-child(2) {
  padding-top: 26px;
}

.dignities__item--section:nth-child(3) {
  padding-top: 26px;
}

.dignities__item--section {
  padding-left: 69px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.dignities__list {
  padding: 0;
  margin: 0;
}

.dignities__vector {
  background-image: url("/img/white-copy-2.svg");
  background-repeat: no-repeat;
  height: 57px;
  width: 100%;
  margin: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.dignities__icon {
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.dignities__icon--house {
  width: 39px;
  height: 37px;
  position: absolute;
  left: 21px;

  @media (min-width: @tablet-width) {
    width: 75px;
    height: 72px;
    padding-top: 60px;
  }
}

.dignities__icon--gift {
  width: 32px;
  height: 38px;
  position: absolute;
  left: 25px;

  @media (min-width: @tablet-width) {
    width: 64px;
    height: 75px;
    padding-top: 57px;
  }
}

.dignities__icon--burger {
  width: 40px;
  height: 35px;
  position: absolute;
  left: 18px;

  @media (min-width: @tablet-width) {
    width: 76px;
    height: 68px;
    padding-top: 63px;
  }
}

.dignities__img {
  width: 320px;
  height: 260px;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }
}
