.fieldset__textarea {
  resize: none;
  width: 280px;
  height: 160px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}

.fieldset--column {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}
