.field__text {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
}

.field__input {
  display: flex;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.field--contacts {
  display: flex;
  flex-direction: column;
}
