.page-main__map {
  display: flex;
  flex-direction: column;
}

.page-main__reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__search {
  display: flex;
  flex-direction: column;
}
