.page-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 342px;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    left: 505px;
  }
}

.page-header--mobile {
  @media (min-width: @tablet-width) {
    display: none;
    position: relative;
  }
}

.page-header--desctop {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    display: none;
    height: 56px;
  }
}

.page-header__logo--desctop {
  @media (min-width: @mobile-width-only) and (max-width: 1279px) {
    display: none;
  }
}

.page-header__logo--tablet {
  @media (min-width: @mobile-width-only) and (max-width: 767px) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
