.reviews__text {
  text-align: center;
  width: 425px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
}

.reviews__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}
