.search__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.search__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
  text-align: center;
}

.search__link {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 17px;
  width: 280px;
  align-self: center;
  margin-bottom: 49px;
  margin-top: 27px;
}
