.site-list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 156px 156px 156px 156px 156px;
    height: 56px;
    align-content: center;
    align-items: center;
  }
}

.site-list__item--logo {
  position: relative;
}
