.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__title {
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
}

.video__text {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
  width: 340px;
}

.video__cursore {
  background-color: #f2f2f2;
  color: #5c6870;
}

.replay {
  margin-left: 25px;
  margin-top: 22px;
  margin-bottom: 24px;
  margin-right: 133px;
}

.subtitles {
  margin-right: 31px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.format {
  margin-right: 22px;
  margin-top: 23px;
  margin-bottom: 23px;
}
